
<div class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="First Name" type="text"  [(ngModel)]="firstName">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Last Name" type="text"  [(ngModel)]="lastName">
  </mat-form-field>
</div>

<div>
  <app-agreement id="agreementDiv" #agreementDiv [name]="firstName" [lastName]="lastName" [signature]="signature" [hideSignature]="false" [signedDate]="signatureDate">
  </app-agreement>
</div>


<button mat-button (click)="sign()" [disabled]="!firstName && !lastName" >Sign</button>

<button mat-button (click)="savePdf()">Save Pdf</button>
